<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      function bivouac_startChat() {
        var socket = io.connect('http://localhost');
        return socket;
      }

      function bivouac_handleInput($, socket) {
        $('#input').keypress(function(e) {
          if (e.which == 13) {
            socket.emit('say', $('#input').val());
            $('#input').val('');
            e.preventDefault();
            return false;
          }
        });
      }

      function bivouac_handleOutput($, socket) {
        socket.on('hear', function (data) {
          $('#messages').prepend('<div class="message"><span class="says"></span><span class="username">' + $('<div/>').text(data.name).html() + '</span> says:</span> ' + $('<div/>').text(data.message).html() + '</div>')
        });
      }

      $(document).ready(function() {
        var socket = bivouac_startChat($);
        bivouac_handleInput($, socket);
        bivouac_handleOutput($, socket);
      });
    </script>
  </head>

  <body>
    <div id="inputArea">
      Say: <input id="input" type="text">
    </div>
    <div id="messages"> </div>
  </body>
</html>
