.navbar-inner {
  border-radius: 0;
}

.well {
  background-color: #f9f9f9;
}

#sidebar {
  background-color: #eee;
}

#messages {
  background-color: #fff;
  height: 60%;
  overflow-x: scroll;
}

.input-xlarge {
  height: 28px;
}

#chatarea input.input-xlarge {
  width: 420px;
}

.message .says {
  font-weight: bold;
}
