@import url("/vendor/bootstrap/css/bootstrap.min.css");

.navbar-inner {
  border-radius: 0;
}

.well {
  background-color: #f9f9f9;
}

#sidebar {
  background-color: #eee;
}

#messages {
  background-color: #fff;
  height: 60%;
  overflow-x: scroll;
}

#messages.filehover {
  background-color: #ffe;
}

#messages div.message.file {
  background-color: #ffe;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

#messages div.message.file.inline img {
  background-color: #fff;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  margin: 6px;
}

.input-xlarge {
  height: 28px;
}

#chatarea input.input-xlarge {
  width: 420px;
}

.message .says {
  font-weight: bold;
}
